$org: #f9ab21;
body{
	background-color: rgba(249, 171, 33, .1);
}
.back{
	padding: 20px 10% 10px 10%;
	font-size: 30px;
}
.back:hover{
	cursor: pointer;
}
.contain{
	padding: 0 10% 10% 10%;
	section{
		margin-top: 10px;
	}
	label{
		font-size: 16px;
		padding-left: 1%;
	}
	input, .btn{
		height: 40px;
		font-size: 18px;
		border: 1px solid $org;
		border-radius: 4px;
		line-height: 40px;
	}
	input{
		width: 98%;
		margin-top: 4px;
		padding-left: 2%;
	}
	.btn{
		width: 100%;
		margin-top: 50px;
		color: white;
		text-align: center;
		letter-spacing: 4px;
		background-color: $org;
	}
	.btn:hover{
		cursor: pointer;
	}
}