<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="/css/reset.css">
	<link type="text/css" rel="stylesheet" href="/css/detail.css">
	<title>detailPage</title>
</head>
<body>
	<div class="item">
		<section class="left">
			<p>
				<span class="key">书名：</span>
				<span class="val">漫威宇宙</span>
			</p>
			<p>
				<span class="key">出版社：</span>
				<span class="val">湖南文艺出版社</span>
			</p>
			<p>
				<span class="key">作者：</span>
				<span class="val">Mav</span>
			</p>
			<p>
				<span class="key">年份：</span>
				<span class="val">2017</span>
			</p>
			<p>
				<span class="key">主人：</span>
				<span class="val">季苗苗</span>
			</p>
			<p><span class="key">状态：</span>
				<span class="val">空闲</span>
			</p>
		</section>
		<section class="right">
			<img src="https://img1.doubanio.com/lpic/s29337437.jpg">
		</section>
	</div>
	<div class="btn">借阅</div>
	<section class="info">
		<p>自20世纪30年代马丁·古德曼进入漫画行业后，漫威就开始了近80年的故事接龙。在这个可能是人类有史以来最为漫长的故事中，漫威成功打造出了一个具有超强场效应的宇宙系统。蜘蛛侠、钢铁侠、绿巨人、美国队长、奇异博士等数千位超级英雄在这个宇宙中真切的“活着”，并成为众多粉丝的某种心灵寄托。</p>
	</section>
</body>
</html>