<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="/css/reset.css">
	<link type="text/css" rel="stylesheet" href="/css/login.css">
	<title>loginPage</title>
</head>
<body>
	<nav>
		<a href="index">
			<p>budiubook</p>
		</a>	
	</nav>
	<div class="main">
		<input id="name" class="name" type="text" placeholder="你的名字">
		<input id="password" class="password" type="password" placeholder="密码" maxlength="11">
		<input class="login" type="submit" name="登录" value="登录"
		onclick="login()">
		<input class="sign" type="button" name="注册" value="注册"
		onclick="sign()">
	</div>

	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		function login(){
			let name = $('#name').val();
			let password = $('#password').val();
			let data = {"name":name, "password":password};
			data = JSON.stringify(data);

			$.ajax({
				url: '/login',
				method: 'POST',
				contentType: 'application/json; charset=utf-8',
				data: data,
				success: function(res, para){
					location.href ='index'
				},
				error: function(){
					alert('手机号码或密码错误');
				}
			});
		}		
		function sign(){
			let name = $('#name').val();
			let password = $('#password').val();
			function space(){
				let sy = true;
				if(name == '' || name.length < 1 || password == '' || password.length == ''){
					alert('信息未填写完整');
					sy = false;
				}
				else if(name.indexOf(' ') != -1){
					alert('名字不能包含空格');
					sy = false;
				}
				else if(password.indexOf(' ') != -1){
					alert('密码不能包含空格');
					sy = false;
				}
				return sy;
			}
			if(space()){
				let data = {"name":name, "password":password};
				data = JSON.stringify(data);

				$.ajax({
					url: '/sign',
					method: 'POST',
					contentType: 'application/json; charset=utf-8',
					data: data,
					success: function(){
						alert('注册成功，点击登录吧！');
						$('#name').value = name;
						$('#password').value = password;
					},
					error: function(){
						alert('这个名字已经注册了！');
					}
				});
			}
		}
	</script>
</body>
</html>